#cartoon {
    width: 80vmin;
    height: 80vmin;
    background: #f007;
    background-image: 
    repeating-linear-gradient(#0000 0 9.5%, #0002 10%),
    repeating-linear-gradient(to left, #0000 0 9.5%, #0002 10%);
    position: absolute;
    top: 50%;
    left: 50%transform: translate(-50%, -50%);
}