#cartoon {
    --skin: #fca;
    width: 80vmin;
    height: 80vmin;
    background: #f001;
    background-image: 
    repeating-linear-gradient(#0000 0 9.5%, #0002 10%),
    repeating-linear-gradient(to left, #0000 0 9.5%, #0002 10%);
    position: absolute;
    top: 50%;
    left: 50%transform: translate(-50%, -50%);
}

#cartoon div, 
#cartoon div.ha,
#cartoon div.hb {
    content: "";
    position: absolute;
    display: block;
}

.face {
    width: 45%;
    height : 60%;
    background: var(--skin);
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0);
    border-radius: 100% / 60% 60% 120% 120%;
}

.mouth {
    width: 80%;
    height: 20%;
    background: #00f4;
    border-radius: 100%;
    border-bottom: 0.5vmin solid black;
}