#cartoon {
    --line: #222;
    --skin: #fca;
    --iris: #69c;
    width: 80vmin;
    height: 80vmin;
    background: #f001;
    background-image: 
    repeating-linear-gradient(#0000 0 9.5%, #0002 10%),
    repeating-linear-gradient(to left, #0000 0 9.5%, #0002 10%);
    position: absolute;
    top: 50%;
    left: 50%transform: translate(-50%, -50%);
    color: var(--line);
}

#cartoon div, 
#cartoon div.ha,
#cartoon div.hb {
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
}

.face {
    width: 45%;
    height : 60%;
    background: var(--skin);
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0);
    border-radius: 100% / 60% 60% 120% 120%;
    border: 0.5vmin solid;
    border-bottom-width: 0.85vmin;
    border-top-width: 0.33vmin;
}

.mouth {
    width: 50%;
    height: 12%;
    border-radius: 100%;
    box-shadow: -0.5vmin 1.4vmin 0 -1vmin;
    top: 68%;
    left: 50%;
    transform: translateX(-50%) rotate(5deg);
}

.ear {
    width: 15%;
    height: 25%;
    background: var(--skin);
    border: 0.5vmin solid;
    border-radius: 100% / 50% 50% 20% 120%;
    box-shadow: -0.125vmin -0.25vmin;
    top: 42%;
    left: 20%;
    transform: rotate(-15deg);
}

.ear + .ear {
    left: auto;
    right: 21%;
    transform: scaleX(-1) rotate(-17deg);
}

.eye {
    width: 30%;
    height: 30%;
    background: #fff;
    border: 0.5vmin solid;
    border-right-width: 0.33vmin;
    top: 30%;
    left: 12%;
    border-radius: 100% /100% 60% 10% 15%;
    overflow: hidden;
    transform: rotate(-4deg);
    box-shadow: 0 -0.125vmin;
}

.eye + .eye {
    left: auto;
    right: 12%;
    transform: scaleX(-1) rotate(-4deg);
}

.pupil {
    left: 18%;
    top: 40%;
    width: 7vmin;
    height: 7vmin;
    background: var(--iris);
    border-radius: 50%;
    border: 0.33vmin solid;
    background-image: 
    radial-gradient(circle at 30% 32%, #fff 7%, #0000 0),
    radial-gradient(circle at 40% 27%, #fff 4%, #0000 0),
    radial-gradient(var(--line) 35%, #0000 0);

}